:root{
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    margin: 0px;
    padding: 0px;
    --bg-color: #0a0a0a;
    --font-color: #dadada;
    --fractal-color: #902eff;
}
body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

.cnvContainer {
    align-items: center;
}
.primarycnv{
    border: solid .3rem var(--fractal-color);
    border-radius: 1rem;
}
